{
  "name": "DEMOK8S",
  "description": null,
  "email": "demo@armory.io",
  "updateTs": "__TIMESTAMP__",
  "createTs": "__TIMESTAMP__",
  "lastModifiedBy": "demo",
  "cloudProviders": "kubernetes",
  "trafficGuards": [],
  "instancePort": 80,
  "user": "demo",
  "dataSources": {
    "disabled": [],
    "enabled": []
  }
}