{
  "application": "democanary",
  "name": "Canary Demo",
  "id": "__PIPELINE_UUID__",
  "updateTs": "__TIMESTAMP__",
  "index": 0,
  "expectedArtifacts": [],
  "keepWaitingPipelines": false,
  "lastModifiedBy": "demo",
  "limitConcurrent": true,
  "parameterConfig": [
    {
      "default": "random",
      "description": "",
      "hasOptions": true,
      "label": "",
      "name": "tag",
      "options": [
        {
          "value": "monday"
        },
        {
          "value": "tuesday"
        },
        {
          "value": "wednesday"
        },
        {
          "value": "thursday"
        },
        {
          "value": "friday"
        },
        {
          "value": "saturday"
        },
        {
          "value": "sunday"
        },
        {
          "value": "random"
        }
      ],
      "pinned": true,
      "required": true
    }
  ],
  "stages": [
    {
      "account": "spinnaker",
      "app": "democanary",
      "cloudProvider": "kubernetes",
      "comments": "The first time this pipeline runs; this stage may fail.  This is fine.",
      "completeOtherBranchesThenFail": false,
      "continuePipeline": true,
      "expectedArtifacts": [],
      "failPipeline": false,
      "location": "prod",
      "manifestName": "deployment hello-world-prod",
      "mode": "static",
      "name": "Get Info",
      "refId": "2",
      "requisiteStageRefIds": [],
      "type": "findArtifactsFromResource"
    },
    {
      "comments": "<pre>\nCurrent Image: Get current image from hello-world-prod deployment (if it's valid), otherwise default to 'justinrlee/hello-world:monday'\nCurrent Instances: Get current replica count from hello-world-prod deployment (if it's valid), otherwise default to 4\nNew Image: Build from trigger.\n</pre>",
      "failOnFailedExpressions": true,
      "name": "Evaluate Variables",
      "refId": "3",
      "requisiteStageRefIds": [
        "2",
        "5"
      ],
      "type": "evaluateVariables",
      "variables": [
        {
          "key": "current_image",
          "value": "${#stage(\"Get Info\").status == \"FAILED_CONTINUE\" ? \"justinrlee/hello-world:monday\" : #stage(\"Get Info\").context.artifacts.^[type== \"docker/image\"].reference}"
        },
        {
          "key": "current_instances",
          "value": "${#stage(\"Get Info\").status == \"FAILED_CONTINUE\" ? 4 : #stage(\"Get Info\").context.manifest.spec.replicas}"
        },
        {
          "key": "new_image",
          "value": "justinrlee/hello-world:${trigger.parameters.tag == \"random\" ? new String[7]{\"monday\",\"tuesday\",\"wednesday\",\"thursday\",\"friday\",\"saturday\",\"sunday\"}[new java.util.Random().nextInt(7)] : trigger.parameters.tag}"
        },
        {
          "key": "random_day",
          "value": "${new String[7]{\"monday\",\"tuesday\",\"wednesday\",\"thursday\",\"friday\",\"saturday\",\"sunday\"}[new java.util.Random().nextInt(7)]}"
        }
      ]
    },
    {
      "account": "spinnaker",
      "cloudProvider": "kubernetes",
      "manifests": [
        {
          "apiVersion": "apps/v1",
          "kind": "Deployment",
          "metadata": {
            "annotations": {
              "strategy.spinnaker.io/max-version-history": "2"
            },
            "name": "hello-world-baseline"
          },
          "spec": {
            "replicas": 1,
            "selector": {
              "matchLabels": {
                "app": "hello-world",
                "group": "baseline"
              }
            },
            "template": {
              "metadata": {
                "annotations": {
                  "prometheus.io/path": "/metrics",
                  "prometheus.io/port": "8080",
                  "prometheus.io/scrape": "true"
                },
                "labels": {
                  "app": "hello-world",
                  "group": "baseline"
                }
              },
              "spec": {
                "containers": [
                  {
                    "image": "${current_image}",
                    "imagePullPolicy": "Always",
                    "name": "hello-world",
                    "ports": [
                      {
                        "containerPort": 8080
                      }
                    ]
                  }
                ]
              }
            }
          }
        }
      ],
      "moniker": {
        "app": "democanary"
      },
      "name": "Deploy Baseline",
      "namespaceOverride": "prod",
      "refId": "4",
      "requisiteStageRefIds": [
        "3"
      ],
      "skipExpressionEvaluation": false,
      "source": "text",
      "trafficManagement": {
        "enabled": false,
        "options": {
          "enableTraffic": false,
          "services": []
        }
      },
      "type": "deployManifest"
    },
    {
      "account": "spinnaker",
      "cloudProvider": "kubernetes",
      "manifests": [
        {
          "apiVersion": "v1",
          "kind": "Service",
          "metadata": {
            "labels": {
              "app": "hello-world"
            },
            "name": "hello-world"
          },
          "spec": {
            "ports": [
              {
                "name": "web",
                "port": 8080
              }
            ],
            "selector": {
              "app": "hello-world"
            }
          }
        },
        {
          "apiVersion": "monitoring.coreos.com/v1",
          "kind": "ServiceMonitor",
          "metadata": {
            "name": "hello-world"
          },
          "spec": {
            "endpoints": [
              {
                "port": "web"
              }
            ],
            "namespaceSelector": {
              "any": true
            },
            "podTargetLabels": [
              "group",
              "app_version"
            ],
            "selector": {
              "matchLabels": {
                "app": "hello-world"
              }
            }
          }
        }
      ],
      "moniker": {
        "app": "democanary"
      },
      "name": "Deploy Service and ServiceMonitor",
      "namespaceOverride": "prod",
      "refId": "5",
      "requisiteStageRefIds": [],
      "skipExpressionEvaluation": false,
      "source": "text",
      "trafficManagement": {
        "enabled": false,
        "options": {
          "enableTraffic": false
        }
      },
      "type": "deployManifest"
    },
    {
      "account": "spinnaker",
      "cloudProvider": "kubernetes",
      "manifests": [
        {
          "apiVersion": "apps/v1",
          "kind": "Deployment",
          "metadata": {
            "annotations": {
              "strategy.spinnaker.io/max-version-history": "2"
            },
            "name": "hello-world-canary"
          },
          "spec": {
            "replicas": 1,
            "selector": {
              "matchLabels": {
                "app": "hello-world",
                "group": "canary"
              }
            },
            "template": {
              "metadata": {
                "annotations": {
                  "prometheus.io/path": "/metrics",
                  "prometheus.io/port": "8080",
                  "prometheus.io/scrape": "true"
                },
                "labels": {
                  "app": "hello-world",
                  "group": "canary"
                }
              },
              "spec": {
                "containers": [
                  {
                    "image": "${new_image}",
                    "imagePullPolicy": "Always",
                    "name": "hello-world",
                    "ports": [
                      {
                        "containerPort": 8080
                      }
                    ]
                  }
                ]
              }
            }
          }
        }
      ],
      "moniker": {
        "app": "democanary"
      },
      "name": "Deploy Canary",
      "namespaceOverride": "prod",
      "refId": "6",
      "requisiteStageRefIds": [
        "3"
      ],
      "skipExpressionEvaluation": false,
      "source": "text",
      "trafficManagement": {
        "enabled": false,
        "options": {
          "enableTraffic": false,
          "services": []
        }
      },
      "type": "deployManifest"
    },
    {
      "name": "Gather",
      "refId": "7",
      "requisiteStageRefIds": [
        "4",
        "6"
      ],
      "type": "wait",
      "waitTime": 1
    },
    {
      "name": "Wait",
      "comments": "This is a dummy stage that could be substituted with other testing stages",
      "refId": "8",
      "requisiteStageRefIds": [
        "7"
      ],
      "type": "wait",
      "waitTime": 2
    },
    {
      "completeOtherBranchesThenFail": false,
      "continuePipeline": true,
      "failPipeline": false,
      "comments": "This is a manual judgment will only occur if the canary fails; otherwise, the app will be promoted automatically",
      "instructions": "Click \"Continue\" to promote and \"Stop\" to not promote.",
      "judgmentInputs": [],
      "name": "Manual Judgment",
      "notifications": [],
      "refId": "9",
      "requisiteStageRefIds": [
        "8",
        "13"
      ],
      "stageEnabled": {
        "expression": "${#stage(\"Canary Analysis\").status != \"SUCCEEDED\"}",
        "type": "expression"
      },
      "type": "manualJudgment"
    },
    {
      "account": "spinnaker",
      "app": "democanary",
      "cloudProvider": "kubernetes",
      "location": "prod",
      "manifestName": "deployment hello-world-canary",
      "mode": "static",
      "name": "Destroy Canary",
      "options": {
        "cascading": true
      },
      "refId": "10",
      "requisiteStageRefIds": [
        "9"
      ],
      "type": "deleteManifest"
    },
    {
      "account": "spinnaker",
      "app": "democanary",
      "cloudProvider": "kubernetes",
      "location": "prod",
      "manifestName": "deployment hello-world-baseline",
      "mode": "static",
      "name": "Destroy Baseline",
      "options": {
        "cascading": true
      },
      "refId": "11",
      "requisiteStageRefIds": [
        "9"
      ],
      "type": "deleteManifest"
    },
    {
      "account": "spinnaker",
      "cloudProvider": "kubernetes",
      "manifests": [
        {
          "apiVersion": "apps/v1",
          "kind": "Deployment",
          "metadata": {
            "annotations": {
              "strategy.spinnaker.io/max-version-history": "4"
            },
            "name": "hello-world-prod"
          },
          "spec": {
            "replicas": "${current_instances.intValue()}",
            "selector": {
              "matchLabels": {
                "app": "hello-world",
                "group": "prod"
              }
            },
            "template": {
              "metadata": {
                "annotations": {
                  "prometheus.io/path": "/metrics",
                  "prometheus.io/port": "8080",
                  "prometheus.io/scrape": "true"
                },
                "labels": {
                  "app": "hello-world",
                  "group": "prod"
                }
              },
              "spec": {
                "containers": [
                  {
                    "image": "${new_image}",
                    "imagePullPolicy": "Always",
                    "name": "hello-world",
                    "ports": [
                      {
                        "containerPort": 8080
                      }
                    ]
                  }
                ]
              }
            }
          }
        }
      ],
      "moniker": {
        "app": "democanary"
      },
      "name": "Promote Prod",
      "namespaceOverride": "prod",
      "refId": "12",
      "requisiteStageRefIds": [
        "9"
      ],
      "skipExpressionEvaluation": false,
      "source": "text",
      "stageEnabled": {
        "expression": "${#stage(\"Manual Judgment\").context.judgmentStatus != \"stop\"}",
        "type": "expression"
      },
      "trafficManagement": {
        "enabled": false,
        "options": {
          "enableTraffic": false,
          "services": []
        }
      },
      "type": "deployManifest"
    },
    {
      "analysisType": "realTime",
      "canaryConfig": {
        "beginCanaryAnalysisAfterMins": "1",
        "canaryAnalysisIntervalMins": "4",
        "canaryConfigId": "__CANARY_CONFIG_UUID__",
        "lifetimeDuration": "PT0H20M",
        "metricsAccountName": "prometheus",
        "scopes": [
          {
            "controlLocation": "prod",
            "controlScope": "baseline",
            "experimentLocation": "prod",
            "experimentScope": "canary",
            "extendedScopeParams": {},
            "scopeName": "default",
            "step": 5
          }
        ],
        "scoreThresholds": {
          "marginal": "0",
          "pass": "70"
        },
        "storageAccountName": "minio"
      },
      "completeOtherBranchesThenFail": false,
      "continuePipeline": true,
      "failPipeline": false,
      "name": "Canary Analysis",
      "refId": "13",
      "requisiteStageRefIds": [
        "7"
      ],
      "type": "kayentaCanary"
    }
  ],
  "triggers": [
  ]
}